<div class="navbar gen-section-heading">
  <div class="navbar-inner">
    <ul class="nav nav-pills">
      <li class="active"><%=link_to 'Home', home_user_path(current_user)%></li>
      <li><%=link_to 'Your listings', spaces_user_path(current_user)%></li>
      <li><%=link_to 'Your Bookings', '#'%></li>
      <li><%=link_to 'Booking Requests', inrequests_user_path(current_user)%></li>
    </ul>
  </div>
</div>
<div class="gen-section-body">
</div>