<% provide(:title, 'Welcome to Nehosta') %>

<div class="row-fluid">
	<div class="span6 offset6">
		<section id="about-nehosta">
			<h1>Welcome to Nehosta</h1>
			<p>Find a home to stay in Allahabad during Kumbh 2013. Stay with local people and enjoy the festival in its full colors.</p>
			<p><%= link_to("Show me all the places to stay!", spaces_path, class:"btn btn-custom btn-large")%></p>
		</section>
	</div>
</div>
