<% provide(:title, 'Welcome to Nehosta') %>
<section id="about-kumbh">
	<h1> Welcome </h1>
	<h2> Find a place to stay during Kumbh Mela </h2>
	<h3> <%= link_to 'Show me all the places to stay!', spaces_path %> </h3>
</section>