<div class="gen-section-heading">
	<h4>Contact Us</h4>
</div>
<div class="gen-section-body">
	<p><strong>Email:</strong> support@nehosta.com</p>
	<p><strong>Phone:</strong> +91-8896939888, +91-9458420017</p>
	<p><strong>Call us on Skype:</strong> nehosta</p>
	<p><strong>Twitter:</strong> nehosta</p>
</div>