<div class="gen-section-heading">
	<h4>How it Works?</h4>
</div>
<div class="gen-section-body">
	<legend>I am looking for a place to stay</legend>
	<p> Sign up. Update your description and add your photos. A good description and photo of the guests helps your host in making the right choice when reviewing your booking request.</p>
	<p>
		Find the home that you want to stay in from the <%=link_to('listed spaces', spaces_path)%>. 
		Open the listing's page to read description and see pictures of the listing. If it suits your need you can create a booking request by clicking the 'Book it' button. If the host confirms your booking request you need to pay the booking amount when you arrive in Allahabad. 
	</p>
	<legend>I am a host</legend>
	<p>Sign up and <%=link_to('contact us', '/contact')%> to get your place listed on our website.</p>
	<p>You can also add your space yourself <%=link_to('here', '/spaces/new')%> and then <%=link_to('contact us', '/contact')%> to get it verified.</p>
</div>