<div class="container">
	<footer>
		<p>&copy; Unnamed 2012</p>
		<nav>
		  <ul>
		    <li><%= link_to "About",  '#' %></li>
		    <li><%= link_to "Contact", '#' %></li>
		  </ul>
		</nav>
	</footer>
</div>